#t-container, #t-message-container{
    width:400px;
    height:300px;
    border: 1px solid #ccc;
    overflow: auto;
    margin: 0 auto;
}

#t-content{
    margin:10px;
}

.t-name{
    text-decoration: none;
    color:blue;
}

.t-words{
    margin:5px;
}

#t-message-container{
    margin-top: 10px;
    border: none;
    height: auto;
}

#t-message{
    float: left;
    margin:0;
    padding:0;
    border: 1px solid #ccc;
    width:78%;
    height:100px;
    outline: none;
}

#t-message:focus{
    border: 1px solid deepskyblue;
}

#t-send{
    outline: none;
    float:right;
    border: 1px solid #ccc;
    width:20%;
    height:100px;
}

.t-welcome-words{
    text-align: center;
    color: darkred;
}