<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href={{static_url('index.css')}}>
</head>
<body>
<div id="t-container">
    <div id="t-content">
    </div>
</div>

<div id="t-message-container">
    <textarea id="t-message"></textarea>
    <input type="button" id="t-send" value="发送">
    <div style="clear: both;"></div>
</div>
<script type="text/javascript" src={{static_url('core/jquery.js')}}></script>
<script type="text/javascript" src={{static_url('index.js')}}></script>
</body>
</html>