<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src={{static_url('core/jquery.js')}}></script>
    <script type="text/javascript" src={{static_url('plugins/asyncPost.js')}}></script>
</head>
<body>
<form id="form" action="https://yishuangxi-yisx.c9.io/post" method="post">
    <input type="submit" value="submit">
</form>
<form action="https://yishuangxi-yisx.c9.io/post" method="post">
    <input type="submit" value="baidu">
</form>
<script>
   $("#form").asyncPost({
        callback:function(data){
            console.log("data: ",data);
        }
    });
</script>
</body>
</html>